@model Rantup.Web.ViewModels.BrowseViewModel

@{
    ViewBag.Title = "Bläddra bland menyer";
}

@*    <div id="light-search" class="well">
        <div class="onerow">
            <div id="category-search" class="btn-group marginB20" data-toggle="buttons-radio">
                <a href="javascript:void(0)" class="btn btn-inverse active" data-values="All">Alla</a>
                <a href="javascript:void(0)" class="btn btn-inverse" data-values="AsianFusion,Chinese,Indian,Indonesian,Japanese,Korean,Lebanese,Mongolian,Sushi,Taiwanese,Tahi,Turkish,Vietnamese">Asiatiskt</a>
                <a href="javascript:void(0)" class="btn btn-inverse" data-values="European,French,German,Irish,Scandinavian,Swedish,Italian">Europeiskt</a>
                <a href="javascript:void(0)" class="btn btn-inverse" data-values="Pasta">Pasta</a>
                <a href="javascript:void(0)" class="btn btn-inverse" data-values="Pizza,Kebab,FastFood">Pizza & kebab</a>
                <a href="javascript:void(0)" class="btn btn-inverse" data-values="Salad,Sandwiches,Wraps">Sallad och smörgåsar</a>
            </div>
        </div>
        <div class="form-inline">
            <a href="javascript:void(0)" id="light-search-button" class="btn btn-success">OK</a>
        </div>
    </div>*@

<div class="browse-enterprises">
    @foreach (var m in Model.EnterpriseStateCodes)
    {
        <a href="javascript:void(0)" data-load="district" data-target="@m.Value">
            <h3>@m.Text</h3>
        </a>
        <div id="@m.Value"></div>
    }
</div>

<script>
    $("[data-load='district']").click(function () {
        var stateCode = $(this).attr("data-target");
        var el = "#" + stateCode;
        Rantup.Ajax.BrowseEnterprises(el, stateCode, "");
    });
</script>
