@model Rantup.Web.ViewModels.BrowseViewModel

@{
    ViewBag.Title = "Bläddra bland menyer";
}


@foreach (var m in Model.EnterpriseStateCodes)
{
    <a href="javascript:void(0)" data-load="district" data-target="@m.Value">@m.Text</a>
    <div id="@m.Value"></div>
}

<script>
    $("[data-load='district']").click(function () {
        var stateCode = $(this).attr("data-target");
        var el = "#" + stateCode;
        Rantup.Ajax.RenderDistricts(el, stateCode);
    });
</script>