@model Rantup.Web.ViewModels.BrowseViewModel

@{
    ViewBag.Title = "Bläddra bland menyer";
}

<div class="browse-enterprises">
    @foreach (var m in Model.EnterpriseStateCodes)
    {
        <a href="javascript:void(0)" data-load="district" data-target="@m.Value">
            <h3>@m.Text</h3>
        </a>
        <div id="@m.Value"></div>
    }
</div>

<script>
    $("[data-load='district']").click(function () {
        var stateCode = $(this).attr("data-target");
        var el = "#" + stateCode;
        Rantup.Ajax.BrowseEnterprises(el, stateCode, "");
    });
</script>
