@model dynamic

@{
    ViewBag.Title = "Info";
}

<div class="price-plans col10">
    <div class="price-plan col5">
        <h1>Standard</h1>
        <h4>Gratis</h4>
        <div class="price-plan-content">
            <div class="onerow">
                <span data-icon="&#xe005;"></span>
                <p>Full kontroll</p>
            </div>
            <div class="onerow">
                <span data-icon="&#xe005;"></span>
                <p>Svara på kommentarer</p>
            </div>
        </div>
        <a href="javascript:void(0)" class="btn btn-success btn-xlarge">Ansök!</a>
    </div>

    <div class="price-plan col5 last">
        <h1>Premium</h1>
        <h4>50kr/mån</h4>
        <div class="price-plan-content">
            <div class="onerow">
                <span data-icon="&#xe005;"></span>
                <p>Fler produkttyper: förrätt + efterrätt</p>
            </div>
            <div class="onerow">
                <span data-icon="&#xe005;"></span>
                <p>Mer produktegenskaper. Ex. till dryck: sötma, årgång, ursprung, producent m.m.</p>
            </div>
            <div class="onerow">
                <span data-icon="&#xe005;"></span>
                <p>Full kontroll</p>
            </div>
            <div class="onerow">
                <span data-icon="&#xe005;"></span>
                <p>Egen logo</p>
            </div>
            <div class="onerow">
                <span data-icon="&#xe005;"></span>
                <p>Produktbilder</p>
            </div>
            <div class="onerow">
                <span data-icon="&#xe005;"></span>
                <p>Svara på kommentarer</p>
            </div>
            <div class="onerow">
                <span data-icon="&#xe005;"></span>
                <p>Lättare URL, ex. imenyn.se/leffes</p>
            </div>
        </div>
        <a href="javascript:void(0)" class="btn btn-success btn-xlarge">Ansök!</a>
    </div>
</div>
