@model dynamic

@{
    ViewBag.Title = "Sök restaurang";
}

<div class="form-inline">
    <input type="text" id="q" />
    <a href="javascript:void(0)" id="search" class="btn btn-info">Sök</a>
</div>

<div id="loading">Laddar...</div>

<div id="search-result">
</div>

<script>
    $(document).ready(function () {
        var query = Rantup.Utilities.GetParameterByName("q");
        if(query != ""){
            Rantup.Ajax.SearchEnterprises(query);
        }
    });
    
    $("#search").click(function () {
        var query = document.getElementById("q").value;
        Rantup.Ajax.SearchEnterprises(query);
    });

    $('input').bind("enterKey", function () {
        $("#search").click();
    });
    $('input').keyup(function (e) {
        if (e.keyCode == 13) {
            $(this).trigger("enterKey");
        }
    });
</script>
