@model iMenyn.Web.ViewModels.MainSearchViewModel
@{
    ViewBag.Title = "Sveriges menyer samlade!";
    ViewBag.BodyId = "intro";
}


<section id="splash-container">
    <div id="splash-content">
        <h1 style="color: #fff; font-size: 61px;">iMenyn.se</h1>
        <form>
            <div class="row mb20">
                <div class="col-sm-12">
                    <input id="search-query" type="text" autofocus="autofocus" autocomplete="off" placeholder="Sök restaurang" />
                </div>
            </div>

            <div id="search-result">
            </div>

            <div class="row">
                <a href="javascript:void(0)" id="search-nearby" class="btn btn-primary">
                    Nära mig<span class="glyphicon glyphicon-screenshot ml"></span>
                </a>
                <a href="javascript:void(0)"  class="btn btn-info">
                    Bläddra<span class="glyphicon glyphicon-transfer ml"></span>
                </a>
            </div>
        </form>
    </div>
</section>



<script>
    var searchButton = $("#search-button");

    searchButton.click(function () {
        var btn = $(this);
        btn.button('loading');
        iMenyn.Ajax.MainSearch($("#search-query").val(), btn);
    });

    $("#search-query").on('input', function () {
        iMenyn.Ajax.MainSearch($("#search-query").val(), searchButton);
    });

    $("#search-nearby").click(function () {
        $(this).button('loading');
        iMenyn.Ajax.SearchEnterprisesCloseToMyLocation();
    });

    $('input').bind("enterKey", function () {
        $("#search-button").click();
    });
    $('input').keyup(function (e) {
        if (e.keyCode == 13) {
            $(this).trigger("enterKey");
        }
    });
</script>
