@model Rantup.Web.Areas.Admin.ViewModels.AllEnterprisesViewModel

@{
    ViewBag.Title = "Modifierade menyer";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Modifierade menyer</h2>

@foreach(var enterprise in Model.Enterprises)
{
    @Html.ActionLink(enterprise.Name, "ModifiedMenu", "ManageAdmin", new {enterpriseKey = enterprise.Key},null)
}