@model Rantup.Web.ViewModels.EnterprisesViewModel

@{
    ViewBag.Title = "Hittade inte någon meny";
}

<h3>@Model.Enterprises.First().Name har ingen meny</h3>

<b>Vill du skapa en?</b>

@Html.ActionLink("Ja", "Products", "Manage",new{enterpriseId = Model.Enterprises.First().Id}, new{@class = "btn btn-success"})
@Html.ActionLink("Nej, återgå", "Search", "Home",null,new{@class = "btn btn-danger"})