@model dynamic

@{
    ViewBag.Title = "title";
    ViewBag.HasCarousel = true;
    //Layout = "_Layout";
}

<h2>premium</h2>


<script>
    !function ($) {
        $(function () {
            // carousel demo
            $('#myCarousel').carousel();
        })
    }(window.jQuery)
</script>