@using iMenyn.Web.Helpers
@model iMenyn.Data.Models.ProductPrice
@{
    Layout = null;
}
@using (Html.BeginCollectionItem("Prices"))
{
    <div class="form-group product-price-edit">
        <div class="col-sm-4">
            <div class="input-group">
                @Html.TextBoxFor(p => p.Price, new { @class = "form-control", tabindex = "2", type = "number" })
                <span class="input-group-addon">kr</span>
            </div>
        </div>
        <div class="col-sm-7">
            @Html.TextBoxFor(p => p.Description, new { @class = "form-control", placeholder = "Ex. 4cl, glas, medium..." })
        </div>
        <span class="glyphicon glyphicon-trash vertical-bottom"></span>
        <div class="col-sm-12">
            @Html.ActionLink("Ett till pris", "BlankProductPrice", "Manage", null, new { @class = "dynamic-add small", data_maxOccurs = 5, data_position="before"})
        </div>
    </div>
}