html{font-size: 100%;}
body {
    padding: 0;
    margin: 0;
    background-image: url(../Content/img/bg.jpg);
    background-size: cover;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
    
line-height: 20px;
color: #333333;
}

@font-face {
    font-family: 'iMenyn';
    src: url('fonts/iMenyn.eot');
    src: url('fonts/iMenyn.eot?#iefix') format('embedded-opentype'), url('fonts/iMenyn.woff') format('woff'), url('fonts/iMenyn.ttf') format('truetype'), url('fonts/iMenyn.svg#iMenyn') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'iMenyn';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 35px;   
}
h2 {
    font-size: 30px;   
}
h3 {
    font-size: 25px;   
}
h4 {
    font-size: 23px;   
}
h5 {
    font-size: 20px;   
}
h6 {
    font-size: 18px;   
}

a {
    color: #0088cc;
    text-decoration: none;
}

address {
    margin-bottom: 20px;
font-style: normal;
}
input[type=checkbox] {
    margin-left: 3px;
    vertical-align: top;
}

footer {
    text-align: right;
}