@media screen and (max-width: 1120px) {
    #menu #main-container {
        width: 70%;
    }
}

@media screen and (max-width: 769px) {
    #menu #main-container {
        width: 96%;
    }
}

@media screen and (max-width: 590px) {
    nav ul {
        display: none;
    }
    #splash-container {
        margin-top: 0;
    }
    #search-query {
        width: 100%;
    }
}
