@media (max-width: 979px) {
#btn-nav {
    display: block;
}
#logo {
    width: 200px;
    margin: 9px;
}
.navbar {
    margin-top: 0;
    height: auto;
}
.navbar ul {
    display: none;
    float: none;
    padding: 2%;
    margin-top:0;
}
.navbar ul li a {
    display: block;
    border-bottom: 1px solid grey;
}
#main-search-container {
    max-width: 80%;
}
}

@media (max-width: 710px) {
    #btn-nav {
        margin-top: 17px;
    }
#logo {
    width: 150px;
}
#main-search-container {
    max-width: 90%;
}
}


@media (max-width: 500px) {
        #btn-nav {
        margin-top: 9px;
    }
#logo {
    width: 100px;
}
#main-search-container {
    max-width: 100%;
}
#search-query {
    display:block; width:100%;padding:1% 0;border-width:0
}
#search-button {
    width: auto;
    display: block;
    margin-top: 5px;
}
#menu .product-category {
    margin: 0 0 20px 0;
}
.well {
    padding: 4px;
}
}