/* === Utility classes === */
.error,#category-error,.field-validation-error {
    color: #DB3333;
    font-weight: bold;
}
.vertical-bottom {
    vertical-align: bottom;
}
.mr5 {
    margin-right: 5px;
}
.ml5 {
    margin-left: 5px;
}
.mt50 {
    margin-top: 50px;
}
/* === End of Utility classes === */


/* === Menu === */
.form-product .edit-form, .form-product.edit-mode .info, .category-sorter {
    display: none;
}

/* Category */
.sorting-categories .category-sorter {
    display: block;
}

.sorting-categories .category {
    height: 79px;
    overflow: hidden;
    padding-bottom: 0;
}

.category {
    padding: 26px 0 40px;
}

.category-name {
    margin: 0 0 15px;
    font-size: 39px;
}
/* End of Category */



/* Product */
.form-product.edit-mode .edit-form {
    display: block;
}

.form-product.edit-mode .product {
    padding: 6px 0;
}

.product {
    border-bottom: 1px solid #d5d5d5;
    overflow: hidden;
}

    .product .product-name {
        float: left;
        font-size: 19px;
    }

    .product .product-prices {
        float: right;
        font-size: 19px;
    }
/* End of product */



/* === End of Menu === */





/* ===  === */

/* === End of  === */

/*.error {
    color: rgb(240, 67, 67);
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding-left: 5px;
}
.row-result {
    background-color: white;
    width: 94%;
    border-bottom: 1px solid rgb(233, 233, 233);
    display: block;
    margin: auto;
    padding: 20px 3%;
    text-align: left;
}

    .row-result .content {
        width: 95%;
        display: inline-block;
        color: rgb(121, 121, 121);
    }

        .row-result .content .head {
            font-size: 25px;
            margin: 0 0 6px 0;
            display: block;
        }

        .row-result .content p {
            margin: 0;
        }

    .row-result .tag {
        margin: 5px 3px 0 0;
    }

    .row-result:hover {
        background-color: rgb(241, 241, 241);
    }*/













body {
    background-color: grey;
    color: #494949;
}

#main-container {
    background-color: white;
}

select#category-chooser {
    margin-bottom: 10px;
}

.tag {
    background-color: #007491;
    padding: 2px 8px;
    float: left;
    color: white;
    margin: 0 5px 5px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

    .tag > span {
        cursor: pointer;
        margin: 0 0 0 5px;
    }

button > span.glyphicon, a > span.glyphicon {
    margin-left: 5px;
}


/*
    Not used or tested
    #toastr {
  padding: 15px 15px 15px 50px;
  width: 300px;
  background-color: #030303;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 12px #999;
  -webkit-box-shadow: 0 0 12px #999;
  box-shadow: 0 0 12px #999;
  color: #fff;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.toast-error {
  background-color: #bd362f;
}*/
