.error,#category-error,.field-validation-error {
    color: #DB3333;
    font-weight: bold;
}
.vertical-bottom {
    vertical-align: bottom;
}
.nom {
    margin: 0;
}
.glyphicon.ml {
    margin-left: 5px;
}
.mr5 {
    margin-right: 5px;
}
.ml5 {
    margin-left: 5px;
}
.mt50 {
    margin-top: 50px;
}
.mb20 {
    margin-bottom: 20px;
}
.fixed {
    position: fixed;
}

.tag {
    background-color: #007491;
    padding: 2px 8px;
    float: left;
    color: white;
    margin: 0 5px 5px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


.btn.off {
      cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}



/* == Loading == */
@-webkit-keyframes loading {
  0% { background-position: 0 0; }
  100% { background-position: 50px 0; }
}

.btn-loading {
    opacity: .8;
    cursor: default;
    background-image: linear-gradient(to left top,
    rgba(255, 255,255,0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255,255,0.2) 50%,
    rgba(255, 255,255,0.2) 75%,
    transparent 75%,transparent);
    background-size: 50px 50px;
   -webkit-animation: loading 0.5s linear infinite;
}
/* === End of Loading === */


/* === === */

/* === End of  === */