/* === Create enterprise === */
#create-enterprise-container #form-content,#create-enterprise-container #location-details,#create-enterprise-container.show-form #confirm-content{
    display: none;
}
#create-enterprise-container .show-form #location-details,#create-enterprise-container.show-form #form-content{
    display: block;
}
/* === End of Create enterprise === */


/* === Menu approval / Edit menu == */
.row.updated-product {
    background-color: #FFF9B5;
}
.row.new-product {
    background-color: #96FFAF;
}
.row.deleted-product {
    background-color: #FF6F6F;
}