/* === Create enterprise === */
#create-enterprise-container #form-content,#create-enterprise-container #form-content #location-details{
    display: none;
}
#create-enterprise-container.model-from-db #confirm-content{
    display: none;
}
/* === End of Create enterprise === */


/* === Menu approval / Edit menu == */
.row.updated-product {
    background-color: #FFF9B5;
}
.row.new-product {
    background-color: #96FFAF;
}
.row.deleted-product {
    background-color: #FF6F6F;
}