@model iMenyn.Data.ViewModels.CompleteEnterpriseViewModel
@{
    ViewBag.Title = Model.Enterprise != null ? Model.Enterprise.Name : "";
    ViewBag.BodyId = "menu";
}

@if (Model.Enterprise != null)
{
    @Html.Partial("~/Views/Partials/Menu/Display/_Menu.cshtml", Model)
}
else
{
    <h1>Ooops denna fanns inte...</h1>
}