@using iMenyn.Web.Helpers
@model iMenyn.Data.Models.ProductPrice
@{
    Layout = null;
    var a = ViewData["s"];
}
@using (Html.BeginCollectionItem("Prices"))
{
    <div class="form-group product-prices-edit">
        <div class="col-sm-3">
            <div class="input-group">
                @Html.TextBoxFor(p => p.Price, new { @class = "form-control" })
                <span class="input-group-addon">kr</span>
            </div>
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(p => p.Description, new { @class = "form-control", placeholder = "Ex. 4cl, glas, medium..." })            
        </div>
        <span class="glyphicon glyphicon-trash vertical-bottom"></span>
    </div>
}