@{
    ViewBag.Title = "Ny restaurang";
}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
<link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
<!--[if lte IE 8]>
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' >
  <![endif]-->

<h2>Ny restaurang</h2>

<hr />
<h3 class="grey">1. Allmänt</h3>
<form id="form" method="POST" action="/Manage/CreateEnterprise">
    <div class="col12">
        <label>Namn</label>
        <input type="text" name="name" />

        <label>Telefon</label>
        <input type="text" name="phone" />

        <label>Kategorier</label>
        <select id="category-chooser">
            <option></option>
            @foreach (var category in ViewBag.Categories)
            {
                <option value="@category.Value">@category.Text</option>    
            }
        </select>
        <div id="chosen-categories" class="form-inline marginB20"></div>

        <hr />
        <h3 class="grey">2. Plats <span data-icon="&#xe003;"></span></h3>
        <div class="marginB20 row">
            <label>Adress</label>
            <input type="text" name="address-search" id="address-search" placeholder="Ange adress" class="input-xlarge pull-left">
            <a id="map-check" class="btn btn-success marginL5">Hämta övrig info</a>
            <div id="no-address-error" class="error hide">Du måste ange en adress</div>
        </div>
        <div id="general-location-info"></div>
    </div>
    <div class="col12">
        <input id="nope" name="nope" type="text" style="display: none;" />
        <input type="submit" id="submit" value="Spara" class="btn btn-success btn-large hide marginT15" />
    </div>
</form>
<script src="~/Scripts/jquery.validate.min.js"></script>

<script>
    iMenyn.Utilities.RenderCategoryChooser();

    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
        $("#map-check").click(function () {

            $("#map").remove();
            $("<div id='map'></div>").appendTo("#map-container-validate");
            var map = $("#general-location-info");
            var address = $("#address-search").val();
            iMenyn.Ajax.RenderGeneralInfoByAddress(map, address);
        });

        //Prevent spam
        var e = document.getElementById("nope");
        e.parentNode.removeChild(e);
    });

    $("#form").validate({
        rules: {
            postalCode: {
                number: true,
                required: true,
                rangelength: [5, 5]
            },
            address: { required: true },
            name: { required: true },
            confirm: { required: true }
        },
        messages: {
            postalCode: {
                number: "Får endast innehålla siffor",
                required: "Ange ett postnummer",
                rangelength: "Postnumret har fel format"
            },
            address: { required: "Ange en adress" },
            name: { required: "Ange restaurangens namn" },
            confirm: { required: "Du måste godkänna informationen" }
        },
        submitHandler: function (form) {
            var chosenCategoriesCount = $("div[data-id='chosen-categories']").children('div').size();
            if (chosenCategoriesCount == 0) {
                $("<p class='error'>Välj minst 1 kategori!</p>").insertAfter("div[data-id='chosen-categories']");
            }
            else {
                form.submit();
            }
        }
    });

    function initialize() {
        var address = (document.getElementById('address-search'));
        var addressOptions = {
            componentRestrictions: { country: 'se' }
        };
        var autocompleteAddress = new google.maps.places.Autocomplete(address, addressOptions);
        autocompleteAddress.setTypes(['geocode']);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>



<noscript>
    <style>
        form {
            display: none;
        }
    </style>
    <h1>Aktivera JavaScript för att se sidan...</h1>
</noscript>
