@{
    ViewBag.Title = "Bidra med en meny";
}

<div id="create-products">
    <h2>Du skapar en meny till @ViewBag.EnterpriseName</h2>


    <div id="edited-menu-container">
        <h1>Dryck</h1>
        <form id="beverage" class="hide">
            <input type="text" name="name" placeholder="namn"/>
            <input type="text" name="price" placeholder="pris"/>
            <input type="submit" value="Spara"/>
        </form>
        <button class="btn btn-success" data-toggle="hide" data-target="#beverage">Lägg till</button>
    </div>
        
        

</div>


<script>
    $("#beverage").submit(function () {
      iMenyn.Ajax.SaveProduct($(this).serialize(), '@ViewBag.EnterpriseKey');
      return false;
  })
</script>