<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="iMenyn.Data"/>
  </extensions>
  
  <targets>
    <target name="File" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" fileName="${basedir}/logs/${level}.txt" />
    </target>
    <target name="RavenDb" xsi:type="RavenDbTarget"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Fatal" writeTo="File" />
    <logger name="iMenyn.*" minlevel="Debug" writeTo="RavenDb" />
  </rules>
</nlog>
