@model Rantup.Data.Models.Account

@{
    ViewBag.Title = "Nytt konto";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Skapa nytt konto</h2>

@using(Html.BeginForm("AddAccount","AccountManagement",FormMethod.Post, new{@class="form-horizontal"}))
{
    <div class="control-group">
        <label class="control-label">Namn</label>
        @Html.TextBoxFor(model => model.Name, new{@class="control"})
    </div>
    <div class="control-group">
        <label class="control-label">Epost</label>
        @Html.TextBoxFor(model => model.Email, new{@class="control"})
    </div>
        <div class="control-group">
        <label class="control-label">Telefon</label>
        @Html.TextBoxFor(model => model.Phone, new{@class="control"})
    </div>
      <button type="submit" class="btn btn-success">OK</button>
}