@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.ActionLink("Skapa nytt konto", "AddAccountView", "AccountManagement", null,new{@class="btn btn-success"})

<h2>Konton</h2>

@foreach(var account in ViewBag.Accounts)
{
    <a href="/Admin/AccountManagement/AccountDetails?id=@account.Id">@account.Name</a>
}
